@font-face {
    src: url(../fonts/fredokaone-regular.woff);
    font-family: "Fredoka-one";
  }
  
  @font-face {
    src: url(../fonts/kristi-regular.woff);
    font-family: "Kristi";
  }
  
  @font-face {
    src: url(../fonts/lato-regular.woff);
    font-family: "Lato";
  }
  
  @font-face {
    src: url(../fonts/fredokaone-regular.ttf);
    font-family: "Fredoka-one-ttf";
  }
  
  @font-face {
    src: url(../fonts/kristi-regular.ttf);
    font-family: "Kristi-ttf";
  }
  
  @font-face {
    src: url(../fonts/lato-regular.ttf);
    font-family: "Lato-ttf";
  }